/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-yellow: #fffcdf;
  --dark-salmon: #e6a894;
}

:root {
  --ifm-color-primary: #d15d38;
  --ifm-color-primary-dark: #c2512d;
  --ifm-color-primary-darker: #b74c2a;
  --ifm-color-primary-darkest: #973f23;
  --ifm-color-primary-light: #d66f4e;
  --ifm-color-primary-lighter: #d87758;
  --ifm-color-primary-lightest: #e09279;
}

.btn {
  @apply bg-transparent hover:bg-primary text-primary font-semibold hover:text-white py-4 px-8 border border-primary hover:border-transparent rounded;
}

.link-btn {
  @apply bg-primary text-white font-semibold  py-4 px-8  border-primary hover:text-white hover:bg-primary-light rounded border-4 border-primary;
}
